PORT=8080
APP_NAME=LINKEDIN_SCHEDULER
FRONTEND_URL=http://localhost:3000

DATABASE_URL=
PRISMA_FIELD_ENCRYPTION_KEY=

ALLOWED_LINKEDIN_ID=

LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=http://localhost:8080/api/v1/auth/linkedin/callback

SESSION_SECRET=

REDIS_URL=redis://localhost:6379

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
AWS_BUCKET_NAME=

LINKEDIN_API_VERSION=202502